.cell {
  width: 20px;
  height: 20px;
}

.alive {
  background-color: black;
}

.absent {
  background-color: transparent;
}

.birth {
  background-color: blue;
}

.death {
  background-color: red;
}
