.cell {
  outline: 1px solid rgba(250, 250, 250, 1);
}

.cell:focus {
  outline: 1px solid rgba(255, 112, 67, 1);
}

.alive {
  background-color: #37474f;
}

.absent {
  background-color: transparent;
}

.birth {
  background-color: #78909c;
}

.death {
  background-color: #cfd8dc;
}
